:root {
	--main-color: #2563EB;
	--background-color: #F4F6F9;
	--button-color: green;
	--border-button-color: rgb(0, 88, 0);
	--alternative-color: rgb(255, 255, 255);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.layout {
	width: 85%;
	margin: 0 auto;
}

/* GENERAL */
.special-border {
	border: 2px solid #ddd;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 5px #ddd;
}


/* HEADER */
.header {
	height: 132px;
	list-style: none;
	border-bottom: 3px solid black;
	margin-bottom: 35px;
}

.header .nav__logo {
	flex-grow: 2;
	display: flex;
	margin-top: 50px;
	visibility: var(--visibility-logo);
}

.header .nav__logo .logo-A {
	color: var(--main-color);
}

.header .nav__logo span {
	display: block;
	font-size: 90px;
	font-weight: bolder;
	margin-top: -8px;
}

.header .nav__logo h3 {
	display: block;
	flex-basis: 40px;
	margin-left: 10px;
	font-weight: 300;
	text-transform: uppercase;
}

/* DYNAMIC NAV */
.nav__container {
    /*width: min(90%, 1200px);*/
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 90px;

    --icon-toggle-menu: url("../icons/menu-open.png");
    --transform-menu-show: translate(-100%);

	--position-toggle: static;
	--float-toggle: revert;
	--top-toggle: auto;
	--right-toggle: 50px;
	--visibility-logo: visible;
	--color-header-list: var(--main-color);
}

.nav__container:has(.nav__input:checked) {
    --icon-toggle-menu: url("../icons/menu-close.png");
    --transform-menu-show: translate(0);
	--position-toggle: fixed;
	--top-toggle: 15px;
	--visibility-logo: hidden;
	--color-header-list: var(--alternative-color);
}

.nav__figure, .nav__toggle {
    z-index: 10;
}

.nav__toggle {
    margin-top: 30px;
    width: 30px;
    height: 30px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;

    transition: background-image .5s;

	position: var(--position-toggle);
	top: var(--top-toggle);
	right: var(--right-toggle);
}

.nav__input {
    display: none;
}

.nav__list {
    margin-top: 80px;

    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;

    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;

    padding: 1.5rem 5%;
    background-color: var(--main-color);
    list-style: none;
    transition: .5s transform;
}

.nav__link {
    text-decoration: none;
    font-weight: bold;
	font-size: 20px;
}

.header li a {
	color: black;
	text-decoration: none;
	transition: all 300ms;
}

.header .active,
.header a:hover {
	color: var(--color-header-list);
}

/*
.header nav {
	flex-grow: 1;
}

.header nav ul {
	height: 132px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.header li {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
	margin-left: 15px;
	margin-right: 15px;
}

.header li:last-child {
	margin-right: 0px;
}

.header li a {
	color: black;
	text-decoration: none;
	transition: all 300ms;
}

.header .active,
.header a:hover {
	color: var(--main-color);
}
*/
.content {
	min-height: 400px;
}


/* FOOTER */
.footer {
	min-height: 40px;
	line-height: 7px;
	text-align: center;
	font-size: 14px;
	margin-top: 35px;
	border-top: 3px solid black;
	padding-top: 45px;
	background: #f5f5f5;
	color: #444;
	margin-top: 80px;
}

/* HOME */
.home .introduction-home {
	display: flex;
	flex-direction: row;
	gap: 100px;
}

.home .introduction-home .container-image img {
	width: 300px;
	height: 400px;
}

.home h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 35px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.home strong {
	color: var(--main-color);
}

.home .last-works {
	margin-top: 60px;
}

.home h2 {
	color: rgb(98, 97, 97);
	font-weight: lighter;
}

.home .title {
	margin-top: 40px;
}

.home .title a {
	font-weight: bolder;
	padding: 7px;
	border-radius: 5px;
	color: white;
	background-color: var(--main-color);
	border: 1px solid var(--border-button-color);
	text-decoration: none;
	transition: all 300ms;
}

.title-container,
.title-container-head {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.title-container {
	line-height: 1.2;
	border-bottom: 1px solid black;
}

.title-container .heading,
.title-container-head .heading {
	margin-top: 0px;
}

.icon {
	width: 40px;
	height: 40px;
}

.title-container-head {
	line-height: 0.8;
}

.icon-title {
	width: 30px;
	height: 30px;
}

.home .title a:hover,
input[type="submit"]:hover,
button:hover {
	background-color: var(--button-color);
	text-decoration: underline;
}

.page .heading,
.home .heading {
	font-size: 35px;
	font-weight: bolder;
	color: black;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.page .heading {
	font-weight: bold;
}

.home p {
	color: rgb(98, 97, 97);
}

input[type="text"],
textarea {
	display: block;
	padding: 15px;
	margin-top: 25px;
	width: 250px;
}

input[type="submit"],
button {
	font-size: 15px;
	padding: 15px;
	margin-top: 15px;
	border: 1px solid var(--border-button-color);
	border-radius: 5px;
	color: white;
	background-color: var(--main-color);
	text-decoration: none;
	cursor: pointer;
	transition: all 300ms;
}

/* PROJECTS */
.projects {
	display: flex;
	flex-wrap: wrap;
}

.project-item {
	flex-basis: 30%;
	flex-grow: 1;

	margin: 30px;
}

.project-item .mask {
	width: 100%;
	height: 350px;
	overflow: hidden;
	border: 1px solid #ddd;
	box-shadow: 0px 5px 14px #ddd;
}

.project-item img {
	width: 100%;
	transition: all 500ms;
}

.project-item .mask:hover img {
	width: 150%;
	margin-right: 30%;
}

.project-item span,
.page-project span {
	display: block;
	color: gray;
	margin-top: 35px;
	font-weight: bolder;
}

.project-item h2 {
	display: block;
	font-size: 30px;
	color: black;
	margin-top: 5px;
	margin-bottom: 10px;
}

.project-item a {
	color: black;
	text-decoration: none;
	transition: all 300ms;
}

.project-item a:hover {
	color: var(--main-color);
}

.project-item h3 {
	display: block;
	color: gray;
	padding-top: 15px;
	margin-top: 0px;
	border-top: 1px solid #ddd;
}

.page-project .mask {
	height: 300px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #ddd;
}

.description-field {
	white-space: pre-line;	/* To see the line break in the description field */
}

/* SKILLS */
.skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 50px;

	margin-top: 50px;
}

.skill-container {
	justify-self: center;

	width: 150px;
	height: 150px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	transition: all 300ms;
}

.skill-container:hover {
	transform: scale(1.2);
}

.skills img {
	width: 70px;
	height: 70px;
}

.label-skill {
	font-weight: bolder;
	margin-top: 5px;
}

/* RESUME */
.resume {
	margin-top: 50px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 200px;
}

.resume-container {
	transition: all 300ms;
}

.resume-container:hover {
	transform: scale(1.1);
}

.resume-container img {
	width: 500px;
	height: 675px;
}

.button-resume {
	width: 200px;
	height: 100px;

	font-size: 25px;
	
	border-radius: 100px;
}

/* CONTACT */
.contact {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.description-contact {
	font-size: 28px;
	font-weight: 300;

	margin-left: 200px;
	margin-right: 200px;
}

.social-contact {
	margin-top: 25px;

	display: flex;
	flex-direction: row;
	gap: 20px;
}

.icon-contact {
	width: 80px;
	height: 80px;

	cursor: pointer;

	transition: all 300ms;
}

.icon-contact:hover {
	transform: scale(1.1);
}